/*ECO SKIN*/
.bg {
 background-color: #1d2637 !important;   
}

.stageContainer .content {
    background-color: #1d2637 !important;   
}


/*ECO SLIDER*/
#sliderInput001.slider-input .ui-slider {
    background: none;
}

#stage-stage .slider-input .ui-slider {
    background: none !important;
}


ecoslider {
    border: 1px solid red;    
}


#sliderDV {
    
}




